@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Poppins&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body.active {
  overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background: #181818;
  padding: 30px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__menu a {
  margin-right: 55px;
}
.header__menu li {
  list-style: none;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
.header__menu li:hover {
  text-decoration: underline;
}
.header__button {
  background: #ffffff;
  border-radius: 14px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  transition: all 0.3s;
}
.header__button:hover {
  box-shadow: 0px 1px 5px 1px rgba(255, 255, 255, 0.556);
}

.wrapper {
  position: relative;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  transition: transform 0.5s;
  padding: 55px 0 0 0;
  max-width: 100%;
  position: fixed;
  z-index: 20;
  height: 100%;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  background: #181818;
}
.burger__li li {
  list-style: none;
  font-size: 25px;
  line-height: 20px;
  color: #ffffff;
  padding: 15px 0;
}
.burger__button {
  background: #ffffff;
  border-radius: 14px;
  max-width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  margin-top: 30px;
}
.burger__wrapper {
  overflow: scroll;
  max-width: 100%;
  height: 100%;
  margin: 10px 0;
  padding: 0 15px;
}

.burger.active {
  transform: translateX(0%);
}

.burger-span {
  width: 50px;
  height: 30px;
  position: relative;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 25;
}
.burger-span span {
  width: 40px;
  height: 2px;
  background-color: #fff;
  display: block;
}
.burger-span span::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
}
.burger-span span::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 978px) {
  .burger {
    display: none;
  }
}
@media screen and (max-width: 978px) {
  .header__container {
    max-width: 100%;
  }
  .burger-span {
    display: flex;
  }
  .header__menu {
    display: none;
  }
  .header__button {
    display: none;
  }
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("../img/bgmain.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 85vh;
}
.main__subtitle {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
  margin-top: 400px;
}
.main__title {
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  color: #ffffff;
}
.main__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #c0c0c0;
  max-width: 600px;
  padding: 0 10px;
  text-align: center;
  margin-top: 20px;
}
.main__block {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  padding: 15px 40px;
  align-self: flex-end;
}
.main__li {
  display: flex;
  padding: 0 8px;
}
.main__li img {
  margin-right: 5px;
}
.main__li p {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

@media screen and (max-width: 978px) {
  .main {
    height: 100%;
  }
  .main__subtitle {
    margin-top: 50px;
    text-shadow: 0 0 10px #000;
  }
  .main__block {
    padding: 30px 40px;
  }
}
@media screen and (max-width: 500px) {
  .main__block {
    flex-wrap: wrap;
    padding: 0;
    margin: 40px 0;
    width: 100%;
    justify-content: centers;
  }
  .main__li {
    width: 50%;
    padding: 10px 0;
    justify-content: center;
  }
}
.work {
  background: #000;
  height: 100%;
  padding: 130px 0 100px 0;
}
.work__title {
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.work__subtitle {
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #c0c0c0;
  margin-top: 15px;
}
.work__grid {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 16px;
  margin-top: 40px;
}
.work__card {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 30px 30px;
}
.work__card--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work__card--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.work__card--title {
  z-index: 5;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.work__card--text {
  margin-top: 10px;
  z-index: 5;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}
.work__card--button {
  z-index: 5;
  background: #ffffff;
  border-radius: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  margin-top: 25px;
  transition: all 0.5s;
  height: 40px;
}
.work__card--button span {
  display: block;
  background: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  transition: all 0.5s;
}
.work__card--button:hover {
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.342);
}
.work__card--button:hover span {
  width: 0px;
  height: 0px;
}

@media screen and (max-width: 978px) {
  .work__card {
    height: 300px;
  }
}
@media screen and (max-width: 700px) {
  .work {
    padding: 40px 0;
  }
  .work__card {
    height: 350px;
  }
  .work__grid {
    grid-template-columns: 100%;
  }
}
.sunset {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background: url("../img/bgsunset.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 520px;
  padding: 40px;
}
.sunset__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.sunset__text {
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}
.sunset__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto 20px auto auto;
  max-width: 300px;
}
.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 5;
}
.block__li {
  display: flex;
  padding: 10px 8px;
}
.block__li img {
  margin-right: 5px;
  max-width: 100%;
}
.block__li p {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .sunset {
    height: 320px;
  }
}
@media screen and (max-width: 715px) {
  .sunset {
    padding: 20px;
  }
  .sunset__main {
    margin: auto 20px 30px auto;
  }
}
.gear-cage {
  height: 540px;
  display: flex;
}
.gear-cage__main {
  background: #000;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.gear-cage__subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
  margin-bottom: 5px;
}
.gear-cage__title {
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}
.gear-cage__text {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 13px 0 20px 0;
}
.gear-cage__button {
  background: #ffffff;
  border-radius: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  margin-top: 25px;
  transition: all 0.5s;
  height: 40px;
}
.gear-cage__button span {
  display: block;
  background: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  transition: all 0.5s;
}
.gear-cage__button:hover {
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.342);
}
.gear-cage__button:hover span {
  width: 0px;
  height: 0px;
}
.gear-cage__image {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;
}
.gear-cage__image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  left: 0;
  top: 0;
}
.gear-cage__block {
  z-index: 5;
}
@media screen and (min-width: 1001px) {
  .gear-cage__main {
    width: 50%;
  }
  .gear-cage__image {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .gear-cage {
    flex-direction: column;
  }
  .gear-cage__main {
    max-width: 100%;
    padding: 40px 20px;
  }
  .gear-cage__image {
    max-width: 100%;
    padding: 20px;
    min-height: 150px;
    height: 100%;
  }
}
.monstera {
  background: url("../img/bgmonstera.png");
}